<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>网络考试平台</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
</head>
<body>
  @!component('components.navigator.register')
  <div class="ui middle aligned center aligned grid" style="margin-top: 8%">
    <div class="six wide column">
      <h2 class="ui teal image header">
        <img src="https://semantic-ui.com/examples/assets/images/logo.png" class="image">
        <div class="content">登录考试平台</div>
      </h2>
      @if(flashMessage('message'))
        @!component('components.alert', {
          type: [flashMessage('type')],
          header: [flashMessage('header')],
          message: [flashMessage('message')]
        })
      @endif
      <form class="ui large form" method="post" action="">
        <div class="ui segment">
          @if(result)
            <div class="field">
              <h3>{{ result.title.rendered }}</h3>
              <p>考试时长：{{ result.extended_custom_fields.extended_content.options.length + '分钟' }}&nbsp;&nbsp;&nbsp;题目数量：{{ result.extended_custom_fields.extended_content.links.length }}</p>
              <p>有效时间：{{ result.extended_custom_fields.extended_content.options.start + '　-　' + result.extended_custom_fields.extended_content.options.end }}</p>
            </div>
          @endif
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="用户名" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="登录密码" autocomplete="off" />
            </div>
          </div>
          @if(result)
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="examword" placeholder="考试密码" autocomplete="off" />
              </div>
            </div>
          @endif
          {{ csrfField() }}
          <button type="submit" name="button" class="ui fluid large teal submit button">登录</button>
        </div>
      </form>
    </div>
  </div>
  {{ script('js/jquery/jquery-1.7.1.min') }}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.message .close').on('click', function() {
      $(this).closest('.message').fadeOut()
    })
  </script>
</body>
</html>
