<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>{{ result.title.rendered }} - 网络考试平台</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
  {{ style('style/navigator') }}
  {{ style('style/paper') }}
</head>
<body class="body">
  <div class="ui large borderless menu">
    <a class="item" href="/">
      <img src="https://semantic-ui.com/examples/assets/images/logo.png" />
      <h2 class="ui header">网络考试平台&nbsp;&nbsp;·&nbsp;&nbsp;{{ result.title.rendered }}</h2>
    </a>
    <div class="right menu">
      <div class="ui category search item">
        <span id="answercard">答题卡 <i class="caret down icon"></i></span>
        <span id="countdown" data-countdowntime="{{ result.extended_custom_fields.extended_content.options.length }}"></span>
      </div>
    </div>
  </div>
  <form class="ui large form borderless menu" method="post" action="#">
    <input type="text" name="length" value="{{ result.extended_custom_fields.extended_content.links.length }}" style="display: none">
    @each(entity in result.extended_custom_fields.extended_content.links)
      <div class="grid grid-{{ $loop.index }}" data-subject="" data-true="{{ result.extended_custom_fields.more_information[$loop.index].choices_true.value }}">
        <small>{{ $loop.index + 1 }}</small>
        <input type="text" name="subject-{{ $loop.index }}" value="" class="subject-{{ $loop.index }}" style="display: none">
        <input type="text" name="true-{{ $loop.index }}" value="{{ result.extended_custom_fields.more_information[$loop.index].choices_true.value }}" style="display: none">
      </div>
    @endeach
    <div class="right menu">
      <div class="container">
        {{ csrfField() }}
        <button id="submit" type="submit" name="button" class="ui mini teal button">提交</button>
      </div>
    </div>
  </form>
  <div class="ui middle center aligned grid" style="margin-top: 8%">
    <div class="seven wide column">
      <h2 class="ui teal image header">
        <div class="content">{{ result.title.rendered }}</div>
      </h2>
      <!-- <div class="ui segment">
        <div class="field">
          <h3>{{ result.title.rendered }}</h3>
          <p>考试时长：{{ result.extended_custom_fields.extended_content.options.length + '分钟' }}&nbsp;&nbsp;&nbsp;题目数量：{{ result.extended_custom_fields.extended_content.links.length }}</p>
          <p>考试有效期：{{ result.extended_custom_fields.extended_content.options.start + ' - ' + result.extended_custom_fields.extended_content.options.end }}</p>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="IDNumber" placeholder="身份证号" autocomplete="off" />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="考试密码" autocomplete="off" />
          </div>
        </div>
        {{ csrfField() }}
        <button type="submit" name="button" class="ui fluid large teal submit button">登录</button>
      </div> -->
      <div class="paper">
        @each(entity in result.extended_custom_fields.extended_content.links)
          <div class="ui segment segment-{{ $loop.index }}">
            <div class="field">
              <h3>{{ $loop.index + 1 }}. {{ entity.post_title }}</h3>
              <p>{{{ entity.post_content }}}</p>
            </div>
            <div class="ui form">
              @if(result.extended_custom_fields.more_information[$loop.index].type.value == 1)
                @!component('components.choices', {
                  index: $loop.index,
                  choices: result.extended_custom_fields.more_information[$loop.index].choices
                })
              @endif
            </div>
          </div>
        @endeach
      </div>
    </div>
  </div>
  {{ script('js/jquery/jquery-1.7.1.min') }}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.ui.radio.checkbox').checkbox()

    var a = 0, m = 0, s = 1, limitMinute = $("#countdown").data("countdowntime")
    this.interval = setInterval(() => {
      if (m * 60 + s == 0) {
        clearInterval(this.interval)
      } else {
        a ++
        m = parseInt((limitMinute * 60 - a) / 60)
        s = parseInt((limitMinute * 60 - a) % 60)
        const countdown = (m < 10 ? ('0' + m.toString()) : m) + ':' + (s < 10 ? ('0' + s.toString()) : s)
        $('#countdown').text('考试倒计时 ' + countdown + ' 分')
      }
    }, 1000)

    $(".paper .segment .choice").each(function (i) {
      $(this).click(function () {
        $('.grid-' + $(this)[0].dataset.subject).addClass('active')
        document.querySelector('.grid-' + $(this)[0].dataset.subject).dataset.subject = $(this)[0].dataset.item
        $(".subject-" + $(this)[0].dataset.subject).attr("value", $(this)[0].dataset.item)
      })
    })
  </script>
</body>
</html>
