<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
  {{ style('style/navigator') }}
  {{ style('style/paper') }}
</head>
<body id="body" class="body">
  <div class="ui large borderless menu">
    <a class="item" href="/">
      <img src="https://semantic-ui.com/examples/assets/images/logo.png" />
      <h2 class="ui header">网络考试平台</h2>
    </a>
    <div class="right menu">
      <div class="ui category search item">
        <span id="answercard">答题卡 <i class="caret down icon"></i></span>
        <span id="countdown" data-countdowntime="{{ result.extended_custom_fields.extended_content.options.length }}"></span>
      </div>
    </div>
  </div>
  <div class="ui large borderless menu">
    @each(entity in result.extended_custom_fields.extended_content.links)
      <div class="grid grid-{{ $loop.index }}" data-subject="" data-true="{{ result.extended_custom_fields.more_information[$loop.index].choices_true.value }}">
        <small>{{ $loop.index + 1 }}</small>
      </div>
    @endeach
    <div class="right menu">
      <div class="container">
        <button id="submit" type="submit" name="button" class="ui mini teal button">提交</button>
      </div>
    </div>
  </div>
  <div class="ui middle center aligned grid" style="margin-top: 8%">
    <div class="seven wide column">
      <h2 class="ui teal image header">
        <div class="content">{{ result.title.rendered }}</div>
      </h2>
      <form class="ui large form" method="post" action="">
        <div class="ui segment" style="display: none">
          <div class="field">
            <h3>{{ result.title.rendered }}</h3>
            <p>考试时长：{{ result.extended_custom_fields.extended_content.options.length + '分钟' }}&nbsp;&nbsp;&nbsp;题目数量：{{ result.extended_custom_fields.extended_content.links.length }}</p>
            {{-- <p>考试有效期：{{ result.extended_custom_fields.extended_content.options.start + ' - ' + result.extended_custom_fields.extended_content.options.end }}</p> --}}
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="IDNumber" placeholder="身份证号" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="考试密码" autocomplete="off" />
            </div>
          </div>
          {{ csrfField() }}
          <button type="submit" name="button" class="ui fluid large teal submit button">登录</button>
        </div>
        <div class="paper">
          @each(entity in result.extended_custom_fields.extended_content.links)
            <div class="ui segment segment-{{ $loop.index }}">
              <div class="field">
                <h3>{{ $loop.index + 1 }}. {{ entity.post_title }}</h3>
                <p>{{{ entity.post_content }}}</p>
              </div>
              @if(result.extended_custom_fields.more_information[$loop.index].type.value == 1)
                @!component('components.choices', {
                  index: $loop.index,
                  choices: result.extended_custom_fields.more_information[$loop.index].choices
                })
              @endif
            </div>
          @endeach
        </div>
      </form>
    </div>
  </div>
  {{ script('https://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js') }}
  {{-- {{ script('https://github.com/cburgmer/rasterizeHTML.js') }} --}}
  {{-- {{ script('https://unpkg.com/jspdf@latest/dist/jspdf.min.js') }}
  {{ script('https://html2canvas.hertzen.com/dist/html2canvas.min.js') }} --}}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.ui.radio.checkbox').checkbox()

    var a = 0, m = 0, s = 1, limitMinute = $("#countdown").data("countdowntime")
    this.interval = setInterval(() => {
      if (m * 60 + s == 0) {
        clearInterval(this.interval)
      } else {
        a ++
        m = parseInt((limitMinute * 60 - a) / 60)
        s = parseInt((limitMinute * 60 - a) % 60)
        const countdown = (m < 10 ? ('0' + m.toString()) : m) + ':' + (s < 10 ? ('0' + s.toString()) : s)
        $('#countdown').text('考试倒计时 ' + countdown + ' 分')
      }
    }, 1000)

    $(".paper .segment .choice").each(function (i) {
      $(this).click(function () {
        $('.grid-' + $(this)[0].dataset.subject).addClass('active')
        document.querySelector('.grid-' + $(this)[0].dataset.subject).dataset.subject = $(this)[0].dataset.item
      })
    })

    $("#submit").click(function () {
      var num = 0
      $('.grid.active').each((i) => {
        if ($(".grid-" + i).data("subject") == $(".grid-" + i).data("true")) {
          num ++
        }
        console.log('用户选择：' + $(".grid-" + i).data("subject") + '\t正确答案：' + $(".grid-" + i).data("true"))
      })

      if ($('.grid.active').length) {
        console.log('您的成绩为：' + 100 / $('.grid.active').length * num)
      }
    })

    // var pdf = new jsPDF('p', 'mm', 'a4');
    // var print_content = $('body');
    // var filename = 'hello.pdf';
    //
    // pdf.addHTML($('#ol_article_content'), function(){
    //   pdf.output("save", filename)
    // })
  </script>
</body>
</html>
