<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>{{ result.title.rendered }} - 网络考试平台</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
  {{ style('style/navigator') }}
  {{ style('style/paper') }}
</head>
<body class="body">
  <header>
    @!component('components.navigator.login', {
      users,
      result
    })
    <form class="ui large form borderless menu" method="post" action="#">
      <input type="text" name="length" value="{{ result.extended_custom_fields.extended_content.links.length }}" style="display: none">
      @each(entity in result.extended_custom_fields.extended_content.links)
        @if(result.extended_custom_fields.more_information[$loop.index].type.value == "1")
          <div class="grid grid-{{ $loop.index }}" data-subject="" data-true="{{ result.extended_custom_fields.more_information[$loop.index].choices_true.value }}">
            <small>{{ $loop.index + 1 }}</small>
            <input type="text" name="subject-{{ $loop.index }}" value="" class="subject-{{ $loop.index }}" style="display: none">
            <input type="text" name="true-{{ $loop.index }}" value="{{ result.extended_custom_fields.more_information[$loop.index].choices_true.value }}" style="display: none">
          </div>
        @elseif(result.extended_custom_fields.more_information[$loop.index].type.value == "0")
          <div class="grid grid-{{ $loop.index }}" data-subject="" data-true="{{ result.extended_custom_fields.more_information[$loop.index].judges.radio.value ? 1 : 0 }}">
            <small>{{ $loop.index + 1 }}</small>
            <input type="text" name="subject-{{ $loop.index }}" value="" class="subject-{{ $loop.index }}" style="display: none">
            <input type="text" name="true-{{ $loop.index }}" value="{{ result.extended_custom_fields.more_information[$loop.index].judges.radio.value ? 1 : 0 }}" style="display: none">
          </div>
        @endif
      @endeach
      <div class="right menu">
        <span id="countdown" data-countdowntime="{{ result.extended_custom_fields.extended_content.options.length }}"></span>
        <div class="container">
          {{ csrfField() }}
          <button id="submit" type="submit" name="button" class="ui mini teal button">提交</button>
        </div>
      </div>
    </form>
  </header>
  <div class="ui middle center aligned grid" style="margin-top: 18%">
    <div class="seven wide column">
      <div class="paper">
        @each(entity in result.extended_custom_fields.extended_content.links)
          <div class="ui segment segment-{{ $loop.index }}">
            <div class="field">
              <h3>{{ $loop.index + 1 }}. {{ entity.post_title }}</h3>
              <p>{{{ entity.post_content }}}</p>
            </div>
            <div class="ui form">
              @if(result.extended_custom_fields.more_information[$loop.index].type.value == 0)
                @!component('components.paper.judge', {
                  index: $loop.index,
                  judges: result.extended_custom_fields.more_information[$loop.index].judges
                })
              @endif
              @if(result.extended_custom_fields.more_information[$loop.index].type.value == 1)
                @!component('components.paper.choices', {
                  index: $loop.index,
                  choices: result.extended_custom_fields.more_information[$loop.index].choices
                })
              @endif
            </div>
          </div>
        @endeach
      </div>
    </div>
  </div>
  {{ script('js/jquery/jquery-1.7.1.min') }}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.ui.radio.checkbox').checkbox()

    var a = 0, m = 0, s = 1, limitMinute = $("#countdown").data("countdowntime")
    this.interval = setInterval(() => {
      if (m * 60 + s == 0) {
        clearInterval(this.interval)
      } else {
        a ++
        m = parseInt((limitMinute * 60 - a) / 60)
        s = parseInt((limitMinute * 60 - a) % 60)
        const countdown = (m < 10 ? ('0' + m.toString()) : m) + ':' + (s < 10 ? ('0' + s.toString()) : s)
        $('#countdown').text('考试倒计时 ' + countdown + ' 分')
      }
    }, 1000)

    $(".paper .segment .item").each(function (i) {
      $(this).click(function () {
        $('.grid-' + $(this)[0].dataset.subject).addClass('active')
        document.querySelector('.grid-' + $(this)[0].dataset.subject).dataset.subject = $(this)[0].dataset.item
        $(".subject-" + $(this)[0].dataset.subject).attr("value", $(this)[0].dataset.item)
      })
    })
  </script>
</body>
</html>
