<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>网络考试平台</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
  <style media="screen">
    .ui.message {
      display: flex;
      justify-content: space-between;
    }

    .ui.message .content {
      text-align: left;
    }
  </style>
</head>
<body>
  @!component('components.navigator.nav')
  <div class="ui middle aligned center aligned grid" style="margin-top: 8%">
    <div class="six wide column">
      @if(flashMessage('message'))
        @!component('components.alert', {
          type: [flashMessage('type')],
          header: [flashMessage('header')],
          message: [flashMessage('message')]
        })
      @endif
      <form class="ui large form" method="post" action="">
        <div class="ui segment">
          <div class="field">
            <h3>个人信息</h3>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" value="{{ users.user_nicename }}" placeholder="用户名" disabled="disabled" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="email" name="user_email" value="{{ users.user_email }}" placeholder="邮箱" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mobile icon"></i>
              <input type="number" name="info_phone" value="{{ users.info.phone }}" placeholder="手机号（可选）" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="marker icon"></i>
              <input type="text" name="info_address" value="{{ users.info.address }}" placeholder="居住地址（可选）" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui input">
              <input type="text" name="info_number" value="{{ users.info.number }}" placeholder="身份证号（可选）" autocomplete="off" />
            </div>
          </div>
          <div class="field">
            <div class="ui upward selection dropdown">
              <input type="hidden" name="info_gender">
              <i class="dropdown icon"></i>
              <div class="default text">性别</div>
              <div class="menu">
                <div class="item" data-value="1" data-text="男">
                  <i class="male icon"></i>
                  男
                </div>
                <div class="item" data-value="0" data-text="女">
                  <i class="female icon"></i>
                  女
                </div>
              </div>
            </div>
          </div>
          @if(users.user_caps.administrator)
            <div class="field">
              <div class="ui input">
                <input type="text" name="administrator" value="管理员" placeholder="身份" disabled="disabled" autocomplete="off" />
              </div>
            </div>
          @endif
          {{ csrfField() }}
          <button type="submit" name="button" class="ui fluid large teal submit button">更新</button>
        </div>
      </form>
      @if(users.user_caps.administrator)
        <div class="ui segment">
          <div class="field">
            <h3>考试信息</h3>
          </div>
          @each(entity in posts)
          <div class="ui blue message">
            <div class="content">
              <div class="header">
                {{ entity.post_title }}
              </div>
              <ul class="list">
                <li>考试人数：{{ entity.count || 0 }}</li>
                <li>创建时间：{{ entity.post_date }}</li>
              </ul>
            </div>
            <a href="#">
              <i class="download icon"></i>
            </a>
          </div>
          @endeach
        </div>
      @endif
      @if(paper.length)
        <div class="ui segment">
          <div class="field">
            <h3>历史考试</h3>
          </div>
          @each(entity in paper)
          <div class="ui blue message">
            <div class="content">
              <div class="header">
                {{ entity.paper_title }}
              </div>
              <p>提交时间：{{ entity.created_time }}</p>
            </div>
            <a href="/paper/{{ entity.posts_id }}/download">
              <i class="download icon"></i>
            </a>
          </div>
          @endeach
        </div>
      @endif
    </div>
  </div>
  {{ script('js/jquery/jquery-1.7.1.min') }}
  {{ script('semantic/dist/semantic.min') }}
  <script type="text/javascript">
    $('.dropdown').dropdown('set selected', {{ users.info.gender }})
  </script>
</body>
</html>
