<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <title>网络考试平台</title>
  {{ style('semantic/dist/semantic.min') }}
  {{ style('style') }}
  <style media="screen">
    .ui.message {
      transition: box-shadow .3s;
    }

    .ui.message:hover {
      box-shadow: 0 0 5px #fff !important;
    }
  </style>
</head>
<body>
  @!component('components.navigator.register')
  <div class="ui middle aligned center aligned grid" style="margin-top: 8%">
    <div class="six wide column">
      <h2 class="ui teal image header">
        <img src="https://semantic-ui.com/examples/assets/images/logo.png" class="image">
        <div class="content">登录考试平台</div>
      </h2>
        @each(entity in result)
          <a class="ui left aligned grid blue message" href="/login?id={{ entity.id }}">
            <div class="header">
              {{ entity.title.rendered }}
            </div>
            <ul class="list">
              <li>考试时长：{{ entity.extended_custom_fields.extended_content.options.length }} 分钟</li>
              <li>有效时间：{{ entity.extended_custom_fields.extended_content.options.start }} - {{ entity.extended_custom_fields.extended_content.options.end }}</li>
            </ul>
          </a>
        @endeach
    </div>
  </div>
</body>
</html>
