@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.ui.divided.items>.item {
  padding: 1em;
  background: #FFF;
  border-top: 0.5px solid rgba(0, 0, 0, 0.23);
  min-height: 100px;
}

.ui.divided.items > .item:first-child,
.ui.divided.items > .item:last-child {
  padding: 1em !important;
}

.ui.card {
  width: 100%;
}

.ui.card .meta * {
  margin: 0;
}

.baiduyun .description {
  padding: 1em;
  background: #f8f8f8;
  border-radius: 5px;
  color: #666;
}

.ui.right.floated {
  position: relative;
}

.ui.right.floated img {
  position: absolute;
  left: -35px;
  margin: 0 !important;
  top: 0;
  padding: 4px;
}

.ui.message {
  padding: 1em 1em;
}

.ui.message>.close.icon {
  top: 1em;
  right: 1em;
}

.ui.items>.item>.content>.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.ui.label img {
  display: none !important;
}
