html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.ui.link.list .item {
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.ui.link.list .item a {
  display: block;
  padding-left: 50px;
}

.ui.link.list .item.active {
  background-color: #e6e6e6;
  cursor: pointer;
}

.ui.form .session.active {
  display: block;
}

.right.menu small {
  margin-right: 5px;
}

.ui.menu {
  border-radius: 0;
  border-top: 0;
}

.login .content img {
  width: 15%;
  margin: 0 auto;
  border-radius: 5px;
}

.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  margin-right: 10px;
}

.name {
  display: flex;
  align-items: center;
}

.address {
  width: 33.3%;
  display: inline-block;
  text-align: center;
}

.image {
  width: 60%;
  position: absolute;
  left: 0;
  padding: 2.5em;
  margin: 10% 20%;
}

#tokenLogo {
  font-size: 0.85rem;
  height: 38px;
  line-height: 16px;
}
