<div class="ui large borderless menu">
  <a class="item" href="/login?id={{ result.id }}">
    <img src="https://semantic-ui.com/examples/assets/images/logo.png" />
    <h2 class="ui header">网络考试平台&nbsp;&nbsp;·&nbsp;&nbsp;{{ result.title.rendered }}</h2>
  </a>
  <div class="right menu">
    <div class="item">
      <a href="/user">嗨，{{ users.user_nicename }} <i class="user icon" style="margin-left: 10px;"></i></a>
    </div>
  </div>
</div>
