<div class="ui large borderless menu" style="border-radius: 0">
  <a class="item" href="/">
    <img src="https://semantic-ui.com/examples/assets/images/logo.png" />
    <h2 class="ui header" style="margin-top: 0; margin-left: 15px; font-size: 20px;">网络考试平台</h2>
  </a>
  <div class="right menu">
    <div class="ui item">
      <a href="/register">注册</a>
    </div>
  </div>
</div>
