<div class="item blanks field" data-subject="{{ index + 0 }}" data-item="">
  <div class="ui input">
    <input class="blanks_{{ index + 0 }}" type="text" name="blanks_{{ index + 0 }}" placeholder="请输入内容" autocomplete="off" value="{{ grid.true || '' }}" />
  </div>
</div>
